apiVersion: v1
kind: Service
metadata:
  name: flipkartmobilepage-service
  labels:
    app: flipkartmobilepage
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: flipkartmobilepage
